<div style="max-width: 550px; width: 100%; margin: 0 auto; text-align: center; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
    <img width="400" src="https://cdni.iconscout.com/illustration/premium/thumb/forgot-password-4268397-3551744.png" alt="">
    <h1>Password Reset</h1>
    <h3 style="margin: 30px 0 50px;">If you've lost your password or wish to reset it, use the link below to get started.</h3>
    <a href="{0}" style="cursor: pointer; background-color: #ff7545; padding: 15px; color: white; border-radius: 20px; border: none; text-decoration:none;">Reset your Password</a>
    <p style="margin-top: 40px; color: grey;">If you didn't request a password reset, you can safely ignore this email. Only person with access to your email can reset your account password.</p>
</div>