@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.mainPageGradient {
	  	@apply bg-[length:400%_400%] bg-fixed bg-mainPageGradient animate-gradientAnimation;
	}
}

@layer utilities {
	::-webkit-scrollbar {
	  width: 15px;
	  height: 15px;
	}
  
	::-webkit-scrollbar-track {
	  border-radius: 100vh;
	  background: #f7f4ed;
	}
  
	::-webkit-scrollbar-thumb {
	  background: #e0cbcb;
	  border-radius: 100vh;
	  border: 3px solid #f6f7ed;
	}
  
	::-webkit-scrollbar-thumb:hover {
	  background: #c0a0b9;
	}
}

.scroll-none::-webkit-scrollbar{
	display: none;
}
* {
	font-family: "Roboto", sans-serif;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
